/* (A) ENTIRE PAGE */


/* (B) DEALER & PLAYER */
/* (B1) CONTAINERS */
#deal-data, #play-data, #deal-cards, #play-cards, #play-control { padding: 20px; }
#deal-data, #play-data { font-weight: 700; }
#deal-cards, #play-cards { min-height: 60px; }
#deal-data { background: #008081; }
#deal-cards { background: #ffffff; }
#play-data { background: #008081; }
#play-cards { background: #ffffff; }
#play-control { background: #758000; }
#deal-stand, #play-stand {
  display: none; padding: 5px;
  color: #fff; background: #80002b;
}
#deal-stand.stood, #play-stand.stood { display: inline-block; }

/* (B2) CARDS */
#deal-cards, #play-cards {
  display: flex;
  flex-wrap: wrap;
}
.bj-card {
  display: flex;
  align-items: center; justify-content: center;
  margin: 5px;
  width: 60px; height: 60px;
  font-size: 2em;
  text-align: center;
  background: #fff;
  border-color: #758000;
  border-width: 2px;
}
#deal-first .front { display: none; }
#deal-first.show .back { display: none; }
#deal-first.show .front { display: block; }

/* (C) PLAY CONTROLS */
#play-control input {
  cursor: pointer;
  font-weight: 700;
  padding: 10px 10px;
  border: 0;
  color: #fff;
  background: #80002b;
}
#playc-hit, #playc-stand { display: none; }
#play-control.started #playc-start { display: none; }
#play-control.started #playc-hit, #play-control.started #playc-stand { display: inline-block; }
